@page "/"

@using System.Collections

<Row>
    <Heading Size="HeadingSize.Is1">Wiegand Calculator</Heading>
</Row>
<Row>
    <Container>
        <Card Margin="Margin.Is4.OnY">
            <CardTitle Size="4" Margin="Margin.Is4.OnAll" >Wiegand Data</CardTitle>
            <CardBody>
                <Field>
                    <FieldLabel>Enter raw binary data - @_cardData.Length of 26 bits</FieldLabel>
                    <FieldBody>
                        <TextEdit Style="font-family: monospace" MaxLength="@_size" MaskType="MaskType.RegEx" EditMask="^[0-1]*$" TextChanged="@CardDataUpdated"/>
                    </FieldBody>
                </Field>
                <Button Color="Color.Primary" Disabled="@(_cardData.Length != _size)" Clicked="@Evaluate">Evaluate</Button>
            </CardBody>
        </Card>
    </Container>
</Row>
<Row>
    <Container>
        <Card Margin="Margin.Is4.OnY">
            <CardTitle Size="4" Margin="Margin.Is4.OnAll" >Evaluation Results</CardTitle>
            <CardBody>
                <Row Padding="Padding.IsAuto">
                    @foreach (char bit in _cardData)
                    {
                        <Column>
                            @*<TextEdit Size="Size.Small" Style="font-family: monospace" Text="@GetBit(index)" /> *@
                        </Column>
                    }
                </Row>
                <Row>
                    <Table>
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>Attribute</TableHeaderCell>
                                <TableHeaderCell>Value</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            <TableRow>
                                <TableRowHeader>Facility Code</TableRowHeader>
                                <TableRowCell>@_facilityCode</TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>Card Number</TableRowHeader>
                                <TableRowCell>@_cardNumber</TableRowCell>
                            </TableRow>
                        </TableBody>
                    </Table>
                </Row>
            </CardBody>
        </Card>
    </Container>
</Row>
<Row>
    <Container Margin="Margin.Is4.OnY">
        <Paragraph>
            Online tool to translate Wiegand binary data. The current version only handles the standard 26-bit format. Future versions will allow for additional format types.
        </Paragraph>
        <Paragraph>
            Contact me at <a href="mailto:qubit@z-bitco.com">qubit@z-bitco.com</a> with suggestions to improve.
        </Paragraph>
    </Container>
</Row>

@functions {
    private byte _size = 26;
    private ulong? _facilityCode;
    private ulong? _cardNumber;
    private string _cardData = string.Empty;
    
    private void CardDataUpdated(string rawData)
    {
        _cardData = rawData ?? string.Empty;
    }

    private void Evaluate()
    {
        _facilityCode = ExtractValueFromCardData(1, 8);
        _cardNumber = ExtractValueFromCardData(9, 16);
        
        StateHasChanged();
    }

    private ulong ExtractValueFromCardData(byte start, byte length)
    {
        var bitArray = new BitArray(length);
        byte bitIndex = (byte)(length - 1);
        for (var index = start; index < _cardData.Length && index < start + length; index++)
        {
            bitArray[bitIndex--] = _cardData[index] == '1';
        }
        
        var array = new byte[8];
        bitArray.CopyTo(array, 0);
        return BitConverter.ToUInt64(array, 0);
    }

    private string GetBit(int index)
    {
        return index < _cardData.Length ? _cardData[index].ToString() : string.Empty;
    }
    
    // 1111110000111111111111111
}

